.explore-grid-container {
  display: grid;
  column-gap: 56px;
  row-gap: 52px;
  grid-template: repeat(3, 363px) / repeat(4, 363px);
  justify-content: center;
  align-content: center;
}
.int-picture {
  position: relative;
}
.int-pic-wri-left {
  position: absolute;
  left: 30px;
  bottom: 20px;
  font-family: "poppins", sans-serif;
  color: white;
  font-size: 22px;
  font-weight: 600;
}
.picture3 {
  grid-row: 1 / 3;
  grid-column-start: 3;
}
.int-pic-wri-right {
  position: absolute;
  right: 30px;
  bottom: 20px;
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 22px;
  font-weight: 600;
}
.explore-more {
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #df6951;
  font-size: 18px;
  line-height: 27px;
  margin-top: 50px;
  letter-spacing: 1px;
  font-weight: 700;
}
.int-pack {
  text-align: center;
  font-family: "Volkhov", sans-serif;
  font-size: 50px;
  line-height: 71px;
  margin-bottom: 50px;
  font-weight: 700;
}

@media (max-width: 800px) {
  .explore-grid-container {
    grid-template: auto / 1fr;
    padding: 0 20px;
  }

  .picture3 {
    display: none;
  }

  .int-picture > img {
    width: 100%;
  }
}
