.services-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-head-small{
    font-size: 18px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #DF6951;
    margin-bottom: 20px;
    text-align: center;
    
}

.title-head-big{
    font-size: 44px;
    font-weight: 700;
    font-family: "Volkhov", serif;
    color: #181E4B;
    text-align: center;
}

.title-service-head{
    font-size: 20px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #1E1D4C;
    margin-bottom: 12px;
    text-align: center;

}

.title-service-info{
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: #5E6282;
    text-align: center;
    max-width: 20ch;
}

.services-flexbox{
    display: flex;
    flex-direction: row;
    margin: 52PX auto 0px auto;
    gap: 20px;
    justify-content: center;
    /* HOW TO MAKE THE GAP RESPONSIVE */
}

.services-flexbox >div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-flexbox >div>img{
    max-height: 72px;
    margin-bottom: 20px;
}

